<%
location = piece.player.game.idx_to_location(piece.square)
transform_style = get_translate(location)
%>

<% if piece.player.id == player&.id %>
  <div id="piece-<%= piece.id %>"
       class="piece-container current-player"
       data-controller="move"
       data-move-id-value="<%= piece.id %>"
       data-move-selected-piece-id-value="<%= selected_piece&.id %>"
       style="<%= transform_style %>"
       data-action="click->move#selectPiece"
  >
    <%= image_tag("#{piece.player.color}-#{piece.kind}", class: 'piece') %>
  </div>
<% else %>
  <div id="piece-<%= piece.id %>"
       class="piece-container"
       style="<%= transform_style %>">
    <%= image_tag("#{piece.player.color}-#{piece.kind}", class: 'piece') %>
  </div>
<% end %>
