<%
transform_style = get_translate(piece.player.game, piece.square)
%>

<% if piece.player.id == player&.id %>
  <div id="piece-<%= piece.id %>"
       class="piece-container current-player"
       data-controller="piece"
       data-piece-id-value="<%= piece.id %>"
       data-piece-selected-id-value="<%= selected_piece&.id %>"
       data-board-x="<%= board_x %>"
       data-board-y="<%= board_y %>"
       style="<%= transform_style %>"
       data-action="click->piece#selectPiece"
  >
    <%= image_tag("#{piece.player.color}-#{piece.kind}", class: 'piece') %>
  </div>
<% else %>
  <div id="piece-<%= piece.id %>"
       class="piece-container"
       data-board-x="<%= board_x %>"
       data-board-y="<%= board_y %>"
       style="<%= transform_style %>">
    <%= image_tag("#{piece.player.color}-#{piece.kind}", class: 'piece') %>
  </div>
<% end %>
