<%
target_moves ||= player.game.board_hash
selected_piece ||= nil
%>

<div id='board-grid' class='board-grid'>
  <% player.game.boards_tall.times do |board_y| %>
    <div class='board-row'>
      <% player.game.boards_wide.times do |board_x| %>
        <%
        pieces_on_board = player.game.pieces_by_board[[board_x, board_y]]
        has_piece_on_board = pieces_on_board.any? { |piece| piece.player.id == player&.id }
        %>

        <div class="board">
          <% 8.times do |y| %>
            <% 8.times do |x| %>
              <% span_class = "#{y%2 == x%2 ? 'light' : 'dark'}-#{has_piece_on_board ? 'revealed' : 'obscured'}" %>
              <span class="square <%= span_class %>">
                <%= player.game.location_to_square({board_x: board_x, board_y: board_y, x: x, y: y}) %>
              </span>
            <% end %>
          <% end %>
          <% if has_piece_on_board %>
            <% pieces_on_board.each do |piece| %>
              <%= render partial: piece, locals: { player: player, selected_piece: selected_piece } %>
            <% end %>
          <% end %>

          <% target_moves[[board_x, board_y]].each do |target_square| %>
            <div class="move-target"
                 data-controller="move"
                 data-move-target-square-value="<%= target_square %>"
                 data-move-selected-piece-id-value="<%= selected_piece&.id %>"
                 data-action="click->move#selectTarget"
                 style="<%= get_translate(player.game, target_square) %>">
            </div>
          <% end %>

          <% player.pending_moves[[board_x, board_y]].each do |move| %>
            <div class="pending-move" style="<%= get_pending_move_line(move, board_x, board_y) %>"></div>
          <% end %>
        </div>
      <% end %>
      <br />
    </div>
  <% end %>
</div>
