<%
selected_piece ||= nil
currently_moving = player.game.current_color
# Using an empty string because js checks this value, so it has to evaluate to `false`.
moves_allowed = if player.color == currently_moving then 'yes' else '' end
pending_moves = player.pending_moves_by_board
%>

<div id='board-grid'
     class='board-grid'
     data-environment='<%= Rails.env %>'
     data-boards-tall='<%= player.game.boards_tall %>'
     data-boards-wide='<%= player.game.boards_wide %>'
     data-moves-allowed-now='<%= moves_allowed %>'
>
  <%= turbo_stream.replace("header", render(partial: "games/board_header", locals: { player: player })) %>

  <% player.game.boards_tall.times do |board_y| %>
    <div class='board-row'>
      <% player.game.boards_wide.times do |board_x| %>
        <%
        pieces_on_board = player.game.pieces_by_board[[board_x, board_y]]
        has_piece_on_board = pieces_on_board.any? { |piece| piece.player.id == player&.id }
        %>

        <div id="board-<%= "#{board_x}-#{board_y}" %>" class="board">
          <% 8.times do |y| %>
            <% 8.times do |x| %>
              <% span_class = "#{y%2 == x%2 ? 'light' : 'dark'}-#{has_piece_on_board ? 'revealed' : 'obscured'}" %>
              <span class="square <%= span_class %>">
                <% if Rails.env.development? %>
                  <%= player.game.location_to_square({board_x: board_x, board_y: board_y, x: x, y: y}) %>
                <% end %>
              </span>
            <% end %>
          <% end %>
          <% if has_piece_on_board %>
            <% pieces_on_board.each do |piece| %>
              <% location = player.game.square_to_location(piece.square) %>
              <%= render partial: piece, locals: {
                player: player,
                selected_piece: selected_piece,
                board_x: board_x,
                board_y: board_y,
                x: location[:x],
                y: location[:y],
              } %>
            <% end %>
          <% end %>

          <% pending_moves[[board_x, board_y]].each do |move| %>
            <div class="pending-move"
                 data-piece-id="<%= move.piece_id %>"
                 style="<%= get_pending_move_line(player.game, move, board_x, board_y) %>"
            ></div>
          <% end %>
        </div>
      <% end %>
      <br />
    </div>
  <% end %>
</div>
