<!-- CLEANUP this is currently the only page that can have flash messages, but this should probably be on the layout -->
<div id="flash-notification">
  <% if flash[:error] %>
    <div class="flash-error">
      <%= flash[:error] %>
    </div>
  <% end %>
</div>

<%= render partial: "pieces/images" %>

<% points = @player.get_points[:bank] %>
<div id="choose-party"
     data-controller="choose-party"
     data-choose-party-bank-value=<%= points %>
     data-choose-party-color-value=<%= @player.color %>
>
  <div>
    Choose your party!
  </div>
  <div id="choose-party-buttons">
    <% Piece::KINDS.each do |kind| %>
      <div class="choose-party-button-container">
        <%= image_tag("#{@player.color}-#{kind}",
                      class: "piece-button",
                      data: {
                        kind: kind,
                        cost: Piece.cost(kind),
                        choose_party_target: 'button',
                        action: "click->choose-party#choosePiece",
                        affordable: 'yes',
        })
        %>
        <div class="piece-cost"><%= Piece.cost(kind) %></div>
      </div>
    <% end %>
  </div>

  <div>
    Points remaining: <span data-choose-party-target="bank"><%= points %></span>
  </div>
  <div id="current-party-container">
    Current party:

    <div id="current-party"></div>
  </div>

  <%= button_to({ action: "join" }, { id: 'join-button', disabled: true }) do %>
    Join
    <%= hidden_field_tag :chosen_kinds, "", id: "js-chosen-kinds" %>
  <% end %>
</div>
