<div>Games</div>

<%
all_dimensions = @games.map { |game| [game.boards_wide, game.boards_tall] }.uniq
all_durations = @games.map { |game| game.minimum_turn_duration }.uniq
%>

<table>
  <thead>
    <tr>
      <th scope="col"></th>
      <% all_durations.each do |duration| %>
        <th scope="col"><%= duration %> seconds</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% all_dimensions.each do |dimensions| %>
      <tr>
        <th scope="row"><%= dimensions[0] %> x <%= dimensions[1] %></th>
        <% all_durations.each do |duration| %>
          <% if game = @games.find_by(boards_wide: dimensions[0], boards_tall: dimensions[1], minimum_turn_duration: duration) %>
            <td>
              <div><%= game.players.count %> Players</div>
              <div class='join-button'><%= button_to("Join", sessions_create_path, { params: { game_id: game.id } }) %></div>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
