<%= link_to("back", games_path) %>

<h1>Game <%= @game.id %></h1>

<h4>Playing as <%= current_player&.id || '(nobody)' %></h4>

<div>
  <%= button_to("quit", sessions_destroy_path, { method: :delete }) %>
</div>

<%= turbo_stream_from("game_board") %>
<%=
render partial: "games/board_grid", locals: {
  game: @game,
  pieces: @pieces,
}
%>
