<%= link_to("back", games_path) %>

<div id="content-container">
  <% if Rails.env.development? %>
    <h1>Game <%= @player.game.id %></h1>

    <h4>Playing as <%= @player.id %></h4>

    <div>
      <%= button_to("process moves", process_moves_path(id: @player.game.id), { method: :get }) %>
    </div>
    <div>
      <%= button_to("stop processing moves", stop_processing_moves_path(id: @player.game.id), { method: :get }) %>
    </div>
  <% end %>

  <%= turbo_stream_from("player_#{@player.id}_moves") %>
  <%= render partial: "games/moves", locals: { data: nil, player: @player } %>

  <%= render partial: "games/board_header", locals: { player: @player } %>

  <%= turbo_stream_from("player_#{@player.id}_game_board") %>
  <%= render partial: "games/board_grid", locals: { player: @player } %>
</div>
